<?xml version="1.0"?>
<launch>

 <node name = "comm" pkg="biomedical_project" type="comm_data.py" output="screen"/>
 <node name = "imu1" pkg="biomedical_project" type="imu_pub.py" output="screen"/>
 <node name = "imu2" pkg="biomedical_project" type="imu_pub2.py" output="screen"/>
 <node name = "status" pkg="biomedical_project" type="status_pub.py" output="screen"/>
 <node name = "gui" pkg="biomedical_project" type="project.py" output="screen"/>
 <node name = "fsr" pkg="biomedical_project" type="fsr_data.py" output="screen"/>
</launch>
